# Ignore build output
bin/
obj/

# Ignore macOS metadata
.DS_Store

# Ignore Python virtual environment
.venv/

# Ignore user-specific files
*.user
*.suo

# Ignore Visual Studio/VSCode settings
.vscode/